.login {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input {
    text-align: center;
    font-size: 24px;
}


